<div class="login-container">
  <div class="login-box">
    <div class="login-logo"><img src="assets/logo-p.svg" alt="Vitalis Tech" class="login-logo-img" /></div>
    <div class="login-header"><h1>Cadastro</h1><p>Crie sua conta para acessar o sistema</p></div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      @if (mensagem) {
        <div class="form-alert" [class.form-alert-success]="mensagem.tipo==='success'" [class.form-alert-error]="mensagem.tipo==='error'">
          {{ mensagem.texto }}
        </div>
      }
      <div class="form-group">
        <label>Nome</label>
        <input type="text" formControlName="nome" placeholder="Seu nome" [class.input-error]="temErro('nome')" />
        @if (temErro('nome')) { <span class="error-text">{{ erroMsg('nome') }}</span> }
      </div>
      <div class="form-group">
        <label>E-mail</label>
        <input type="email" formControlName="email" placeholder="seu@email.com" [class.input-error]="temErro('email')" (input)="formatarEmail($event)" autocomplete="email" />
        @if (temErro('email')) { <span class="error-text">{{ erroMsg('email') }}</span> }
      </div>
      <div class="form-group">
        <label>Senha</label>
        <input type="password" formControlName="password" placeholder="Mínimo 6 caracteres" [class.input-error]="temErro('password')" />
        @if (temErro('password')) { <span class="error-text">{{ erroMsg('password') }}</span> }
      </div>
      <button type="submit" class="btn-login" [disabled]="carregando">
        @if (carregando) { <span class="spinner-sm"></span> Aguarde... } @else { Cadastrar }
      </button>
    </form>
    <div class="login-footer"><p>Já tem conta? <a routerLink="/login">Faça login aqui</a></p></div>
  </div>
</div>